::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111827;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 5px;
    background: linear-gradient(10deg, rgba(41, 173, 122, 1) 0%, rgba(61, 120, 172, 1) 100%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(10deg, rgb(27, 123, 86) 0%, rgb(35, 76, 112)  100%);
  }

.ubl-bg-gradient {
    background: rgb(41, 173, 122);
    background: linear-gradient(90deg, rgba(41, 173, 122, 1) 0%, rgba(61, 120, 172, 1) 100%);
    animation: gradient 5s ease infinite;
}

.ubl-simple-bg-gradient {
  background: rgb(41, 173, 122);
  background: linear-gradient(90deg, rgba(41, 173, 122, 1) 0%, rgba(61, 120, 172, 1) 100%);
}


.ubl-text-gradient{
    
    color: rgb(41, 173, 122);
    background: -webkit-linear-gradient(10deg, rgba(41, 173, 122, 1) 0%, rgba(61, 120, 172, 1) 100%);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ubl-text-blue {
  color:rgba(61, 120, 172);
}

.ubl-text-green {
  color:rgba(41, 173, 122)
}

.ubl-bg-blue {
    background:rgba(61, 120, 172);
}

.ubl-bg-green {
    background:rgba(41, 173, 122)
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
